! ## Enable a color supported XTerm ##
XTerm.termName: xterm-256color

! ## Set xterm window size ##
XTerm*VT100.geometry: 80x27

! ## Set font and fontsize ##
XTerm*faceName: Hack
XTerm*faceSize: 10

! VT Font Menu: Unreadable
XTerm*faceSize1: 8
! VT Font Menu: Tiny
XTerm*faceSize2: 10
! VT Font Menu: Small
XTerm*faceSize3: 12
! VT Font Menu: Medium
XTerm*faceSize4: 16
! VT Font Menu: Large
XTerm*faceSize5: 22
! VT Font Menu: Huge
XTerm*faceSize6: 24

! ## Scrollbar ##
XTerm*vt100.scrollBar: false

! Do not scroll when there is new input
XTerm*scrollTtyOutput: true

! Scrolling by using Shift-PageUp / Shift-PageDown or mousewheel by default ##
! Lines of output you can scroll back over
XTerm*saveLines: 15000

! Enable copy/paste hotkeyes (mouse highlight = copy ,  shift+Insert = paste)
XTerm*selectToClipboard: true

! ## Select text ##
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: true

! ## Keybindings ##
XTerm*vt100.translations: #override \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl <Key>0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

XTerm*title: Terminal

! ~~~~~~~~~~~~~~~~~~
! ## Color Themes ## 
! ~~~~~~~~~~~~~~~~~~

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

